
.container {
  max-width: 960px;
  margin: 0 auto;
}

.home-section {
  padding: 50px 0;
  text-align: center;
}

.recetas-section {
  padding: 50px 0;
}

.recetas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacto-section {
  padding: 50px 0;
  text-align: center;
}
  .receta-imagen{
    max-width: 400px;
    max-height: 300px;
    height: 100%;
  }
 
  .card {
    cursor: pointer;
    width: 18rem;
    margin: 10px;
  }
  
  .modal-dialog {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .modal-content {
    text-align: center;
  }
  
  .modal-body {
    max-height: calc(100vh - 200px); 
    overflow-y: auto;
  }